.main-container {
  border: 2px solid green;
  height: 100%;
  display: flex;
  flex-direction: column;
}
header {
  height: 250px;
  background-color: rgb(71, 19, 19);
  text-align: center;
}
nav {
  list-style: none;
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
}
.nav-brand {
  display: block;
  font-size: 70px;
  line-height: 1;
  width: 96%;
  margin: 75px 0 40px;
  margin-left: auto;
  margin-right: auto;
}
a {
  font-weight: bolder;
  text-decoration: none;
  transition: 0.7s ease;
  color: black;
}
a.home-active {
  color: #0ba39c;
}
li a:hover {
  color: #0ba39c;
}
.menu {
  margin-left: uto;
  margin-right: auto;
}

li {
  display: inline;
}

.menu li{
  margin-right: 2%;
  margin-left: 2%;
}

.hamburger {
  /* display: none; */
  cursor: pointer;
  margin: 0 auto;
  height: 35px;
  width: 35px;
  border-radius: 3px;
  background-color: #0ba39c;
  display: none;
}

main {
  height: ;
  flex: 1;
  background-color: wheat;
}
main section {
  /* height: 50px; */
  background-color: brown;
  /* height: 1800px; */
}
footer {
  height: 120px;
  background-color: orange;
  margin: 0;
  padding: 36px 42px;
}
p {
  font-family: 'Kanit', sans-serif;
  float: left;
  line-height: 44px;
  margin: 0 0 0 20px;
}
ul.social li {
  float: right;
  margin: 0 25px 0 0;
  text-indent: -99999px;
  overflow: hidden;
}
footer ul li #twitter {
  background-position: 0 0;
}
#twitter {
  background: url(/img/icons.jpg) no-repeat 0 0;
  display: block;
  height: 45px;
  margin: 0;
  padding: 0;
  width: 45px;
}
footer ul li #facebook {
  background-position: 0 -44px;
}
#facebook {
  background: url(/img/icons.jpg) no-repeat 0 0;
  display: block;
  height: 45px;
  margin: 0;
  padding: 0;
  width: 45px;
}
footer ul li #googleplus {
  background-position: 0 -88px;
}
#googleplus {
  background: url(/img/icons.jpg) no-repeat 0 0;
  display: block;
  height: 45px;
  margin: 0;
  padding: 0;
  width: 45px;
}
footer ul li #pinterest {
  background-position: 0 -132px;
}
#pinterest {
  background: url(/img/icons.jpg) no-repeat 0 0;
  display: block;
  height: 45px;
  margin: 0;
  padding: 0;
  width: 45px;
}

/* ********media query********** */
@media (max-width: 576px) {
  /* header a.nav-brand {
    display: block;
    margin: 0;
    padding: 0;
  } */
  header ul li {
    display: none;
  }
  
  .hamburger {
    display: block;
  }
}