.main-container {
  border: 2px solid green;
  height: auto;
  display: flex;
  flex-direction: column;
}
/* *********Navigation Bar************* */
header {
  height: 250px;
  background-color: rgb(71, 19, 19);
  text-align: center;
}
nav {
  list-style: none;
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
}
.nav-brand {
  display: block;
  font-size: 60px;
  line-height: 1;
  width: 96%;
  margin: 75px 0 40px;
  margin-left: auto;
  margin-right: auto;
}
a {
  font-weight: bolder;
  text-decoration: none;
  transition: 0.7s ease;
  color: black;
  text-transform: uppercase;
}
a.home-active {
  color: #0ba39c;
}
li a:hover {
  color: #0ba39c;
}
.menu {
  margin-left: auto;
  margin-right: auto;
}

li {
  display: inline;
}

.menu li{
  margin-right: 2%;
  margin-left: 2%;
}

.hamburger {
  cursor: pointer;
  margin: 0 auto;
  height: 45px;
  width: 45px;
  border-radius: 3px;
  background-color: #0ba39c;
  display: none;
}
/* *********Page content********** */
#body {
  font-family: 'Kanit', sans-serif;
  min-height: 100%;
  flex: 1;
  background-color: wheat;
}
#body div {
  /* display: block; */
}
#body .featured {
  position: relative;
  width: 100%;
}
div .background-img {
  background-image: url(../img/hairsalon-01.jpg);
  background-color: antiquewhite;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.featured h2 {
  background: rgb(250, 119, 119);
    color: #000;
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    margin: 0 0 18px;
    padding: 23px 27px 20px;
    text-transform: uppercase;
}
.featured span {
  background: #252525;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    margin: 7px 0;
    padding: 12px 27px;
}
#body div.featured {
  left: 50%;
  margin-left: -480px;
  margin-top: -171px;
  padding: 0 0 0 470px;
  position: absolute;
  top: 50%;
  text-align: left;
  /* width: 500px; */
}
.home-gallery {
  width: 1000px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 80px;
  overflow: auto;
}
.pic {
  margin: 10px;
  border: 3px solid rgb(134, 122, 103);
  float: left;
  width: 300px;
}
.pic img {
  width: 100%;
  height: auto;
  box-shadow: 0px 8px 8px -2px #111;
}

/*  ******* Footer **********  */
footer {
  height: 120px;
  background-color: orange;
  margin: 0;
  padding: 36px 42px;
}
footer > div {
  width: 960px;
  margin: 0 auto;
}
footer p {
  font-family: 'Kanit', sans-serif;
  float: left;
  line-height: 44px;
  margin: 0 200px 0 100px;  
}
ul.social {
  margin-right: 100px;
}
ul.social li {
  float: right;
  margin: 0 18px 0 0;
  text-indent: -99999px;
  overflow: hidden;
  
}
footer ul li #twitter {
  background-position: 0 0;
}
#twitter {
  background: url(/img/icons.jpg) no-repeat 0 0;
  display: block;
  height: 45px;
  margin: 0;
  padding: 0;
  width: 45px;
}
footer ul li #facebook {
  background-position: 0 -44px;
}
#facebook {
  background: url(/img/icons.jpg) no-repeat 0 0;
  display: block;
  height: 45px;
  margin: 0;
  padding: 0;
  width: 45px;
}
footer ul li #googleplus {
  background-position: 0 -88px;
}
#googleplus {
  background: url(/img/icons.jpg) no-repeat 0 0;
  display: block;
  height: 45px;
  margin: 0;
  padding: 0;
  width: 45px;
}
footer ul li #pinterest {
  background-position: 0 -132px;
}
#pinterest {
  background: url(/img/icons.jpg) no-repeat 0 0;
  display: block;
  height: 45px;
  margin: 0;
  padding: 0;
  width: 45px;
}

/* ********media query********** */
@media (max-width: 576px) {
  /* ********** Navbar ********* */
  header {
    position: relative;
  }
  .hamburger {
    display: block;
    position: absolute;
    margin-top: -230px;
    margin-left: 240px;
    align-items: center;
  }
  header ul li a, a.home-active {
    display: block;
    /* position: relative; */
    color: white;
    border-top: 1px solid white;
    background-color: #0ba39c;
    height: 49px;
    line-height: 49px;
    font-weight: normal;
    font-size: 18px;
    visibility: hidden;
  }
  li a:hover {
    background-color: black;
  } 
 
  .hamburger:hover header ul li a {
    
  }
  /* *****Body page******** */
  div.background-img {
    position: relative;
  }
  .featured h2, .featured span {
    position: absolute;
    width: 96%;
    text-align: left;
    padding: 0;
    
  }
  /* ********footer media********** */
  footer {
    text-align:center;
    padding: 0;
  }
  footer p {
    /* text-align: center; */
    margin-top: 10px;
    /* padding: 0 50px; */
    
  }
  ul.social {
    width:38.5%;
    text-align:center;
  }
  
}